/* Floating Particles */

#particles{

position:fixed;

inset:0;

pointer-events:none;

overflow:hidden;

z-index:-1;

}

.particle{

position:absolute;

border-radius:50%;

background:rgba(79,140,255,.18);

animation:float infinite ease-in-out;

}

@keyframes float{

0%{

transform:translateY(0px);

opacity:.2;

}

50%{

transform:translateY(-60px);

opacity:.8;

}

100%{

transform:translateY(0px);

opacity:.2;

}

}

/* Fade */

.loaded #loader{

display:none;

}